@import '@styles/vars.module.scss';

.panel {
  border-radius: 5px;
  background-color: $gray;
  padding: 50px 70px;
  width: 100%;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 30px;
}

.whitePanel {
  background: #fff;
  padding: 50px 50px 60px 50px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
