@import "@styles/vars.module.scss";

.button {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.055em;
  height: 40px;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s;
  border-radius: 5px;
  padding: 12px;
  min-height: 40px;
  min-width: 40px;

  &:disabled {
    background-color: $disabledAccent;
    pointer-events: none;
  }
}

.primaryButton {
  background-color: $accent;
  color: #fff;

  &:hover {
    background-color: $darkAccent;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba($accentFocus, .5);
    background-color: $darkAccent;
  }
}

.secondaryButton {
  background-color: #fff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);


  .icon {
    color: #000;
  }

  &:hover {
    background-color: lighten($gray, 2%);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba($accentFocus, .5);
  }
}
