$accent: #F55555;
$peach: #F99B9B;
$gray: #F4F4F4;
$darkGray: #d7d5d5;

$accentFocus: #E04D4D;
$lightAccent: #f99f9f;
$darkAccent: #D24848;
$disabledAccent: #cb7f7f;

$error: #7e0707;
$success: #81C784;

$headerHeight: 80px;

