@import "@styles/vars.module.scss";

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;


}

.rowWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.additional {
  position: absolute;
  transform: translate(100%, -50%);
  right: -15px;
  top: 50%;
}
