@import '@styles/vars.module.scss';

$paddingTop: 40px;
$paddingBottom: 80px;

.panel {
  padding-bottom: 110px;
}

.table {
  position: relative;
  width: 100%;
  padding-right: 65px;
  margin-top: -40px;
}

.header {
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.055em;
  box-shadow: 4px 0 30px rgba(0, 0, 0, 0.05);
  background: #E4E4E4;
  padding: 10px 15px;
  margin-bottom: 20px;
  position: sticky;
  top: -40px;
}

.row {
  background: #fff;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.rowCeil, .rowCeil * {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.055em;
}

.shortLinkBtn {
  transition: color .2s;
  text-decoration: underline;

  &:hover {
    color: $darkAccent;
  }

  &:focus {
    outline: 0;
    color: $darkAccent;
  }
}

.copyBtn {
  margin-bottom: 15px;
}

.addBtn {
  position: sticky;
  top: -80px;
  right: 50px;
  z-index: 2;
  font-weight: 600;
  font-size: 24px;
  margin-left: 100%;
  transform: translate(15px, 40px);
}

.pagination {
  margin-top: 10px;
}

.shortUrlTooltip {
  right: 5%;
}

.copyTooltip {
  top: 37%;
}
