@import "@styles/vars.module.scss";

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.tooltipWrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: 5;
  background-color: $success;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  width: max-content;
  top: 50%;
}

.left {
  animation: slideUp .3s ease forwards;
  right: 50px;
}

.top {

}
