@import "@styles/vars.module.scss";

.wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: $gray;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.055em;
  padding: 10px 15px;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba($accentFocus, .5);
  }
}

.label {
  margin-top: 11px;
}

.error {
  outline: 0;
  box-shadow: 0 0 0 3px rgba($error, .5);
}

.errorText {
  margin-top: 7px;
  color: $error;
}
